{% extends 'base_layout.html' %}
    {% block content%}
            <a href="#sosmed">Social</a>
            <a href="#skill">Skill</a>
            <a href="#hobby">Hobby</a>
            <a href="#education">Education</a>
            <a href="#AboutMe">ME</a>
        </div>
        <div class='BlockContent'>
            <div id="AboutMe">
                <center>
                    <div class="picture"></div>
                    <div>
                        <h1>LEONARDO</h1>
                        <h3 class="birth">Born 7th August 2000</h3>
                        <h3 class="major">Information System-18</h3> 
                        <h3 class="major">Faculty of Computer Science</h3>  
                        <h3 class="major">University of Indonesia</h3>  
                    </div>
                </center>
            </div>
            <div class="test">
                <div class="topbox" id="education">
                    <center>
                        <h1>Education</h1>
                        <div class="block" id="sd">
                            <h3 class="left">Fajar Sion Elementary School</h3>
                            <h3 class="right">(2006-2012)</h3>
                        </div>
                        <div class="block" id="smp">
                            <h3 class="left">Kalam Kudus 1 Junior Highschool</h3>
                            <h3 class="right">(2012-2015)</h3>
                        </div>
                        <div class="block" id="sma">
                            <h3 class="left">Methodist Highschool</h3>
                            <h3 class="right">(2015-2018)</h3>
                        </div>
                        <div class="block" id="ui">
                            <h3 class="left">University of Indonesia</h3>
                            <h3 class="right">(2018-Now)</h3>
                        </div>
                    </center>
                </div>
                <div class="topbox" id="hobby">
                    <center>
                        <h1>Hobby</h1>
                        <h3>Table Tennis</h3>
                        <h3>Sports</h3>
                        <h3>Watch Movies</h3>  
                    </center>
                </div>
                <div class="topbox" id="skill">
                    <center>
                        <h1>Skills</h1>
                        <h3>Programing</h3>
                        <h3>WEB Development</h3>
                        <h3>HTML & CSS</h3>
                        <h3>Django Framework</h3>
                    </center>
                </div>  
            </div> 
        </div>      
    {% endblock %}